* {
    font-family: Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: #1e1e2e;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100vh;
}

h1 {
    font-size: 28px;
    text-align: center;
    color: #f8f8f2;
}

p {
    font-size: 18px;
    text-align: center;
    color: #f8f8f2;
    padding: 10px;
    line-height: 1.5;
}

.game {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 60%;
    padding: 25px;
}

.board {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    gap: 10px;
}

.card {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: #ff79c6;
    color: #282a36;
    cursor: pointer;
    border-radius: 5px;
}

.card.flipped {
    background-color: #50fa7b;
    color: #1e1e2e;
}

.card:hover {
    background-color: #bd93f9;
}

.btn {
    width: fit-content;
    background-color: #ffb86c;
    color: #282a36;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in;
    font-size: 20px;
}

.btn:hover {
    background-color: #ff9f43;
}

@media(max-width: 425px) {
    h1 {
        font-size: 22px;
    }
    
    p {
        font-size: 16px;
    }

    .board {
        grid-template-columns: repeat(4, 50px);
    }

    .card {
        width: 50px;
        height: 50px;
    }

    .btn {
        font-size: 16px;
    }
}